@font-face {
  font-display: swap; 
  font-family: 'Tele2 TextSans Web SHORT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/tele2-textsans-web-short-regular.ttf'); 
}

:root {
  /* Colors */
  --white: #FFFFFF;
  --dark: #1F2229;
  --gray: #7C8792;
  --blue: #3FCBFF;
  --bg-color: #F3F5F6;
}

body {
  font-family: 'Tele2 TextSans Web SHORT';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray);
  background: var(--bg-color);
}

.container {
  max-width: 1116px;
  margin: 0 auto;

  @media (max-width: 769px) {
    padding: 0 18px;
  }
}